<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GenericKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6DAF9F9D2267269D006BAD6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DAF9FB1226726A0006BAD6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DAF9FBC226726A0006BAD6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
